
ENDPOINT="http://localhost"
CLUSTER="localnet"

# Postgres connection variables. These default values should work for local development.
PGHOST=localhost
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgresUser
PGPASSWORD=password

# THE URL OF PYTH SITE
NEXTAUTH_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET= ...

# THE ID AND SECRET AS CONFIGURED ON  DISCORD
DISCORD_ID=...
DISCORD_SECRET=...
