
ENDPOINT="http://localhost"
CLUSTER="localnet"

# Postgres connection variables. These default values should work for local development.
PGHOST=localhost
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgresUser
PGPASSWORD=password

# THE URL OF PYTH SITE
NEXTAUTH_URL=http://localhost:3000

# Used to encrypt the NextAuth.js JWT
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET= ...

# We have to register our web app on Discord Developer Portal.
# Once registered, we can read the id and secret on its dashboard.
DISCORD_ID=...
DISCORD_SECRET=...
